.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b0000; /* בורדו כהה */
    color: #fff; /* טקסט לבן */
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #fbc531; /* צהוב */
    text-decoration: underline;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    text-align: center;
}

